body {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Leto", sans-serif;
  margin: 0;
}

a {
  color: rgba(255, 255, 255, 0.8);
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

header {
  background-color: #551a8b;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header h1 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

nav ul {
  display: flex;
  margin: 0 20px 0 0;
}

nav ul li {
  list-style-type: none;
  padding: 0 20px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }

  nav ul li {
    padding: 8px 0 0 0;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  header {
    flex-direction: row-reverse;
  }

  h1 {
    margin-right: 20px;
  }
}
